<!DOCTYPE html>
<html>

<head>
    <title>New user</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <form action="/new" method="post">
        <input type="text" name="name" id="name"><br>
        <input type="text" name="address" id="address"><br>
        <input type="checkbox" name="cb1" id="" value="val1">
        <input type="checkbox" name="cb2" id="" value="val2"><br>
        <input type="radio" name="r1" id="" value="r1">
        <input type="radio" name="r1" id="" value="r2">
        <input type="radio" name="r1" id="" value="r3"><br>
        <button>send</button>
    </form>
</body>

</html>